# Environments
venv/
.env
.venv
env/
*.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.coverage
htmlcov/

# Data & Databases
data/vector_store/
data/sql/*.db
!data/sql/.gitkeep

# IDEs
.vscode/
.idea/
.DS_Store

# Frontend
node_modules/
dist/
dist-ssr/
*.local

# Logs
*.log
logs/
